@import url('https://fonts.googleapis.com/css2?family=Tiro+Kannada&display=swap');

.projectBlockTF
{
  display: flex;
  align-items: initial;
  justify-content: space-between;
  border: 2px solid #9b7e52;
  border-top-width: 0px;
  border-right-width: 0px;
  border-radius: 25px;
  padding: 25px;
  margin: 15px 0;
}
.projectBlockIF
{
  display: flex;
  align-items:initial;
  flex-direction: row-reverse;
  justify-content: space-between;
  border: 2px solid #9b7e52;
  border-top-width: 0px;
  border-left-width: 0px;
  border-radius: 25px;
  padding: 25px;
  margin: 15px 0;
}

.projectDescription
{
  display: flex;
  flex-direction: column;
  margin:15px;
}
.projectDescription p
{
  font-family: 'Tiro Kannada', serif;
  font-size: 20px;
  text-align: justify;
  line-height: 150%;
}


.Image
{
  width: 100%;
  height: auto;
  border-radius: 25px;
  box-shadow: 5px 5px 10px #c8974ec1;
}